- @page = { title: 'Edit Article',
            'navbar-title': 'Edit Article' }
.container
  -if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.error.count, 'error')} prohibited this article from being saved:"
      %ul
        =@article.errors.full_message.each do |error|
          %li = error
  .row.justify-content-center.mt-2
    .col-xs-12.col-md-10
      .card
        .card-body
          = render 'form'
        .card-footer
          = link_to 'Back', articles_path
