- @page = { title: 'About',
            'navbar-title': 'About' }
%br
.container
  %div{ class: 'row justify-content-center' }
    %div{ class: 'col-xs-12 col-lg-10' }
      .card
        .card-body
          = image_tag('headshot.jpg', class: 'rounded-circle mx-auto d-block')
          %hr
          %h2.card-title Statement of Beliefs
          %p.card-text I am a humble servant of our Lord and Savior Jesus Christ, believing in the total depravity of mankind, unconditional election of the saved, limited atonement, irresistible grace, and the preservation of the saints. Firmly and without reservation, I reject the materialistic trappings of the secular world, and instead submit to the will of God, striving to live according to the example provided by Jesus Christ.
          %blockquote{ class: 'blockquote' }
            %p.mb-0 He that findeth his life shall lose it: and he that loseth his life for my sake shall find it.
            %small.blockquote-footer
              Jesus Christ in
              %cite{ title: 'Matthew 10:39'} Matthew 10:39
          %p.card-text I am personally opposed to activist and identitarian politics, choosing to abstain from voting in elections, to disassociate myself from any political party, and to withdraw to the most practical and lawful extent from State influence. I recognize and affirm the right of the State to monopolize legitimate violence in order to safeguard and protect natural rights. Natural rights, as I understand them, extend to negative rights--not positive rights--and include the right to life, liberty, and estate. Although various factions struggle against each other to use the State as the vehicle by which their will is enforced, virtue cannot be legislated--a simple truth that many fail to recognize.
          %p.card-text It is my view that Christianity represents a moral and virtuous way of life which has united the West through reverence of the Almighty for centuries, and that it is truly worth preserving. In a postmodern world of relativistic morals, it is important that Christians ensure that they are demonstrating the love of Jesus Christ while keeping the faith. The threat to the Church that postmodernism poses parallels that of the early Church beset by the barbarian hordes of Europe; Church and family should be the focus of Christians as we proceed through the dark times ahead.
          %h2.card-title Biography
          %p.card-text I served in the United States Army Infantry for 5 years, deploying twice to Afghanistan in support of Operation Enduring Freedom (OEF X-XI and OEF XIII) both as a Soldier and an NCO. I am a recipient of the highly-coveted Combat Infantryman's Badge, Expert Marksmanship Badge with Rifle Bar, Air Assault Badge, Afghanistan Campaign Medal with 2 Campaign Stars, Army Commendation Medal with 2 Oak Leaf Clusters, Army Achievement Medal, Nato Medal, Army Good Conduct Medal, National Defense Service Medal, Global War on Terrorism Service Medal, Overseas Service Ribbon, and Army Service Ribbon. During my service with 1-506th IN Regt (Red Currahee), we distinguished ourselves by earning a Valorous Unit Award and a Meritorious Unit Citation.
          %p.card-text I began formally studying Computer Science and Information Systems after completing my term of military service. A GNU/Linux user from the time that my parents gave me my first computer as a young teenager, I am committed to free and open source software; over the past several years, I have authored a few Ruby gems which are released under various open source licenses. Amongst others, my technical competencies include Ruby, Rails, HTML, HAML, CSS, SCSS, Javascript (ES2015), Postgresql, and more. It is my sincere hope that my contributions to the open source software community will glorify God and prove useful to my fellow engineers.
          %blockquote{ class: 'blockquote' }
            %p.mb-0 And whatsoever ye do, do it heartily, as to the Lord, and not unto men.
            %small.blockquote-footer
              Paul the Apostle in
              %cite{ title: 'Colossians 3:23'} Colossians 3:23
          %p.card-text Since I have begun my career as a software engineer, I have experienced successes and failures according to the good pleasure of the Lord. I will continue to expand and develop my technical competencies, striving to be the best software engineer and entrepreneur that I can be. I hope to be an example to Christians everywhere that it is possible to resist the hostile, secular environment that pervades the tech industry, achieving success while keeping faith in Jesus Christ as Lord and Savior.
          %blockquote{ class: 'blockquote' }
            %p.mb-0 Ye are the light of the world. A city that is set on an hill cannot be hid. Neither do men light a candle, and put it under a bushel, but on a candlestick; and it giveth light unto all that are in the house. Let your light so shine before men, that they may see your good works, and glorify your Father which is in heaven.
            %small.blockquote-footer
              Jesus Christ in
              %cite{ title: 'Matthew 5:14-16'} Matthew 5:14-16
          %p.card-text Yours in Christ,
          %i.card-text RV Davis
