.container-fluid
  .row
    %div{ class: 'col-sm-12 col-lg-6' }
      .card
        .card-header Bio
        .card-block
          %p.card-text After serving in the US Army Infantry for 5 years with two combat deployments to Afghanistan (OEF X-XI and OEF XIII), I began studying Computer Science and Information Systems at Austin Peay State University (APSU). Before reaching my senior year at APSU, I secured a position as a software engineer with Accenture Federal Services, where I am currently employed.
          %p.card-text I have an entrepreneurial mindset; my introduction to the startup world failed, but I am now working to launch a new startup with several other talented individuals. Long-term goals for me: to complete my undergraduate studies, to learn a new language (Spanish), and to build my competency as a full-stack Rails developer.
    %div{ class: 'col-sm-6 col-lg-6' }
      .card
        .card-header Open Source Projects
        .card-block
          %p.card-text I am committed to free and open source software. Over the past several years, I have authored a few useful Ruby gems which are released under various open source licenses. In fact, this site is free and open source. I am optimistic that my contributions will become more significant with time.
    %div{ class: 'col-sm-6 col-lg-6' }
      .card
        .card-header Availability
        .card-block
          %p.card-text I am available for select opportunities. Please reach out through the contact form of this site to discuss how I can design and build a custom web application to meet your personal or business requirements.
