- @page = { title: 'Edit Project', 'navbar-title': 'Edit Project' }
= render 'layouts/errors', object: @project
.container
  .row.justify-content-center.mt-3
    .col-xs-12.col-md-8
      .card
        .card-body
          = render 'form'
        .card-footer
          = link_to 'Back', projects_path
