-if signed_in?
  .controls
    = link_to 'New Project', new_project_path, class: 'btn btn-solid'
- unless @projects.present?
  .card
    .card-body
      .text-center
        %h2.card-title There are No Projects to Display
        %p.card-text Projects have not been uploaded yet; check back later.
- else
  #projects-index-content.flex-container
    - @projects.each do |project|
      .card.flex-item
        .card-body
          - if signed_in?
            = link_to 'Update', edit_project_path(project)
            = link_to 'Delete', project_path(project), method: :delete, data: { confirm: 'Are you sure?' }
          .text-center
            %h2.card-title= project.title
          %p.card-text~ markdown(project.description).html_safe
