= form_for @link do |f|
  .form
    .form-group
      =f.label :message
      ~f.text_area :message, class: 'form-control'
    .form-group
      =f.label :published
      ~f.check_box :published, class: 'form-control'
    .form-action
      =f.submit 'Publish', class: 'btn btn-solid'
