- @page = { title: 'Edit Link', 'navbar-title': 'Edit Link' }
= render 'layouts/errors', object: @link
.container
  .row.justify-content-center.mt-3
    .col-xs-12.col-md-8
      .card
        .card-body
          = render 'form'
        .card-footer
          = link_to 'Back', links_path
