footer {
  width: 100%;
  margin: 2em 0 0 0;
  padding: 0;
  background-color: $grey-five;

  #footer-heading {
    padding: 1em;

    h2 {
      color: $grey-one;
      text-align: center;
    }
  }

  #footer-icons {
    .footer-icon {
      padding: 1em;
      text-align: center;

      a {
        color: $grey-three;

        &:hover {
          color: $grey-one;
        }
      }

      p {
        color: $grey-two;
      }
    }
  }

  #footer-copyright {
    margin: 0 .5em 0 0;
    text-align: right;
    font-size: 90%;
    color: $grey-two;
  }
}
