nav {
  background-color: $grey-five;

  @media screen and (min-width: $M) {
    display: flex;
  }

  #nav-header {
    width: 100%;
    background-color: $grey-five;
    margin: 0;
    padding: .5em 0;

    a {
      font-size: 150%;
      color: $grey-one;
      padding: .5em;
      text-decoration: none;

      @media screen and (min-width: $M) {
        visibility: hidden;
      }

      i {
        color: $red;

      }
    }

    span.navbar-text {
      color: $grey-one;
      font-size: 150%;
    }

    @media screen and (min-width: $M) {
      flex: 30%;
    }
  }

  #nav-menu {
    z-index: 9;
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: $grey-five;
    transform: translateX(-200%);
    transition: transform .6s ease;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        a {
          display: block;
          padding-top: 1em;
          padding-bottom: 1em;
          font-size: 125%;
          text-decoration: none;
          color: $grey-one;

          &:hover {
            color: $red;
            background-color: $grey-two;
          }

          &:active {
            color: $red;
            background-color: $grey-one;
          }
        }
      }

      .active {
        color: $grey-one;
        background-color: $grey-one;
      }
    }

    @media screen and (min-width: $M) {
      position: relative;
      flex: 70%;
      align-self: center;
      z-index: 9;
      text-align: center;
      background-color: $grey-five;
      transform: none;
      transition: none;

      ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
          display: inline;

          a {
            display: inline;
            padding: .5em 1em;
            font-size: 125%;
            text-decoration: none;
            color: $grey-one;

            &:hover {
              color: $red;
              background-color: $grey-five;
            }

            &:active {
              color: $red;
              background-color: $grey-one;
            }
          }
        }

        .active {
          color: $grey-one;
          background-color: $grey-one;
        }
      }
    }
  }

  #nav-menu.open-menu {
    transform: translateX(0);
  }
}
