- @page = { title: 'Reset Password', subtitle: '' }
.container
  .row
    %div{ id: 'clearance', class: 'password-reset col-xs-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3' }
      .card
        .card-block
          = form_for :password, url: passwords_path do |form|
            .form-group
              = form.label :email
              %br
              = form.text_field :email, type: 'email', class: 'form-control'
            = form.submit class: 'btn btn-primary'
