.btn {
  padding: .5em;
  font-size: 110%;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-solid {
  color: white;
  background-color: $red;
  border: 2px solid $red;

  &:hover {
    background-color: $dark-red;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
  }
}

.btn-outline {
  color: $red;
  background-color: transparent;
  border: 2px solid $dark-red;

  &:hover {
    background-color: $red;
    color: white;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
  }
}
