img {
  width: 75%;
  height: auto;

  @media screen and (min-width: $S) {
    width: 55%;
  }
  @media screen and (min-width: $M) {
    width: 45%;
  }
}

.img-centered {
  display: block;
  margin: auto;
}

.img-rounded {
  border-radius: 50%;
}
