@font-face {
  font-family: 'inconsolataregular';
  src: asset-url('inconsolata-regular-webfont.woff2') format('woff2'),
       asset-url('inconsolata-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: asset-url('OpenSans-Regular-webfont.eot');
  src: asset-url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       asset-url('OpenSans-Regular-webfont.woff') format('woff'),
       asset-url('OpenSans-Regular-webfont.ttf') format('truetype'),
       asset-url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: open_sansregular;
}

h1 {
  text-align: center;
  color: $red;
}

h2 {
  color: $red;
}

p {
  color: $grey-six;
}

a {
  color: $red;

  &:hover {
    color: $dark-red;
    text-decoration: none;
  }

  &:active {
    color: $darker-red
  }
}

ul {
  list-style-type: circle;
}

.code, code, pre, pre * {
  font-family: 'inconsolataregular';
  background-color: $grey-one;
}

.code {
  padding: 0;
  vertical-align: text-bottom;
  overflow: auto;
}

pre {
  margin: 0;
  padding: 1em;
  border-left: 2px solid $red;
}

code {
  padding: .25em;
  white-space: nowrap;
}

blockquote {
  font-family: open_sansregular;
  font-size: 110%;
  font-style: italic;
  background: $grey-one;
  padding: 1em;
  margin: auto .25em;

  @media screen and (min-width: $M) {
    margin: auto .5em;
  }
  @media screen and (min-width: $L) {
    margin: auto 1em;
  }
  @media screen and (min-width: $XL) {
    margin: auto 1.5em;
  }
}

.text-muted {
  color: $grey-four;
}

.text-center {
  text-align: center;
}
