$grey-one: hsla(0, 0%, 93%, 1);
$grey-two: hsla(0, 0%, 73%, 1);
$grey-three: hsla(0, 0%, 60%, 1);
$grey-four: hsla(0, 0%, 47%, 1);
$grey-five: hsla(0, 0%, 33%, 1);
$grey-six: hsla(0, 0%, 5%, 1);

$light-green: hsla(128, 68%, 90%, 1);
$green: hsla(128, 68%, 55%, 1);
$dark-green: hsla(128, 68%, 27%, 1);

$yellow: hsla(45, 100%, 51%, 1);
$dark-yellow: hsla(45, 100%, 40%, 1);

$light-red: hsla(6, 78%, 90%, 1);
$red: hsla(6, 78%, 57%, 1);
$dark-red: hsla(6, 78%, 47%, 1);
$darker-red: hsla(6, 78%, 27%, 1);

$light-blue: #cce5ff;
$blue: #0070BB;
$dark-blue: #004085;

$XL: 1200px;
$L: 992px;
$M: 768px;
$S: 576px;
