// ======================
//  Variables
// ======================

//  Color Palette
// ======================

// Color One: 
$one: hsla(0, 0%, 87%, 1);

// Color Two: 
$two: hsla(0, 0%, 73%, 1);

// Color Three: TBD
$three: hsla(0, 0%, 60%, 1);

// Color Four: 
$four: hsla(0, 0%, 47%, 1);

// Color Five: 
$five: hsla(0, 0%, 33%, 1);

// Green Color:
$l-green: hsla(128, 68%, 91%, 1);

$red-gold: hsla(17, 34%, 64%, 1);

$red: hsla(6, 78%, 57%, 1);

$dark-red: hsla(6, 78%, 47%, 1);

$darker-red: hsla(6, 78%, 27%, 1);

// Semantic Colors
$safe: hsla(100, 80%, 51%, 1);
$caution: hsla(35, 80%, 51%, 1);
$danger: hsla(0, 80%, 51%, 1);



//  Viewport Sizes
// ======================
$XL: 1260px;
$L: 1070px;
$M: 750px;
$S: 590px;
$XS: 420px;
