#activities-current {
  width: 97%;
  margin-top: 2em;

  @media screen and (min-width: $M) {
    width: 75%;
  }

  .card-body {
    padding-left: .5em;
    padding-right: .5em;
    overflow-x: auto;

    h2 {
      text-align: center;
    }

    .activities-controls {
      text-align: right;
      margin: 1em;
    }

    p {
      text-align: center;
    }

    .activity-current {
      max-width: 600px;
      margin: 0 auto .5em auto;
      border: 1px solid $grey-one;
      border-radius: 5px;

      .activity-current-header {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: .5em;

        .activity-due-date {
          flex: 50%;

          p {
            margin: 0;
            text-align: left;

            span.activity-late {
              color: $red;
            }

            span.activity-urgent {
              color: $yellow;
            }
          }
        }

        .activity-current-controls {
          flex: 50%;
          text-align: right;

          a.activity-mark-complete {
            padding: .25em;

            i {
              color: $green;
            }

            &:hover {
              i {
                color: $dark-green;
              }
            }
          }

          a.activity-edit {
            padding: .25em;

            i {
              color: $yellow;
            }

            &:hover {
              i {
                color: $dark-yellow;
              }
            }
          }

          a.activity-delete {
            padding: .25em;

            i {
              color: $red;
            }

            &:hover {
              i {
                color: $dark-red;
              }
            }
          }
        }
      }
    }

    .activity-current-body {
      text-align: center;
      p {
        margin-top: .5em;

        a {
          color: $grey-six;
        }
      }
    }
  }
}

#activities-completed {
  width: 97%;
  margin-top: 2em;

  @media screen and (min-width: $M) {
    width: 75%;
  }

  .card-body {
    padding-left: .5em;
    padding-right: .5em;
    overflow-x: auto;

    h2 {
      text-align: center;
    }

    .activities-controls {
      text-align: right;
      margin: 1em;
    }

    p {
      text-align: center;
    }

    .activity-complete {
      max-width: 600px;
      margin: 0 auto .5em auto;
      border: 1px solid $grey-one;
      border-radius: 5px;

      .activity-complete-header {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        padding: .5em;

        .activity-hourglasses {
          flex: 50%;
          text-align: left;
          color: $grey-five;
        }

        .activity-complete-controls {
          flex: 50%;
          text-align: right;

          a.activity-undo {
            padding: .25em;

            i {
              color: $blue;
            }

            &:hover {
              i {
                color: $dark-blue;
              }
            }
          }
        }
      }
    }

    .activity-complete-body {
      text-align: center;
      p {
        margin-top: .5em;

        a {
          color: $grey-six;
        }
      }
    }

    #activities-pagination {
      nav {
        display: table;
        background-color: transparent;
        margin: 0 auto .5em auto;
        text-align: center;

        span {
          margin: .5em;
        }

        span.current {
          color: $grey-five;
        }
      }

      p {
        text-align: center;
        color: $grey-five;
      }
    }
  }
}

#activities-insights {
  width: 97%;
  margin-top: 2em;

  @media screen and (min-width: $M) {
    width: 75%;
  }

  .card-body {
    padding-left: .2em;
    padding-right: .2em;
    overflow-x: auto;

    h2 {
      text-align: center;
    }

    h3 {
      margin: 1em;
    }
  }
}

#activity-card {
  margin-top: 2em;
}
