@import "font-awesome-sprockets";
@import "font-awesome";
@import "variables";
@import "typography";
@import "buttons";
@import "forms";
@import "cards";
@import "images";
@import "layout/layout";
@import "articles";
@import "links";
@import "projects";
@import "about";
@import "activities";

html, body {
  margin: 0;
  background-color: $grey-one;

  .controls {
    margin: 2em 1em 0 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .btn-solid {
      color: white;
      background-color: $red;

      &:hover {
        background-color: $dark-red;
      }
    }

    .btn-outline {
      color: $red;
      background-color: transparent;

      &:hover {
        background-color: $red;
        color: white;
      }
    }
  }

  .clearance {
    margin-top: 2em;
  }
}
