// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#article-tags {
    margin: 1em;
}
#article-controls {
    padding: 1em;
    #new-article {
        a {
            padding: 1em;
        }
    }
}
#article-list {
    margin: 1em;
}
