#link-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .btn-solid {
    color: white;
    background-color: $red;

    &:hover {
      background-color: $dark-red;
    }
  }

  .btn-outline {
    color: $red;
    background-color: transparent;

    &:hover {
      background-color: $red;
      color: white;
    }
  }
}

#links-index-content {
  margin: 2em 1em;

  #links-pagination {
    nav {
      display: table;
      background-color: transparent;
      margin: 0 auto .5em auto;
      text-align: center;

      span {
        margin: .5em;
      }

      span.current {
        color: $grey-five;
      }
    }

    p {
      text-align: center;
      color: $grey-five;
    }
  }
}

#link-card {
  margin-top: 2em;
}

.link-actions {
  text-align: right;
}
