#link-controls {
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .btn-solid {
    color: white;
    background-color: $red;

    &:hover {
      background-color: $dark-red;
    }
  }

  .btn-outline {
    color: $red;
    background-color: transparent;

    &:hover {
      background-color: $red;
      color: white;
    }
  }
}

#links-index-content {
  margin: 2em 1em;
}

#link-card {
  margin-top: 2em;
}

.link-actions {
  text-align: right;
}
