#project-controls {
}

#projects-index-content {
  margin: 2em 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .card {
    width: 100%;
    height: auto;
    margin: .5em;

    @media screen and (min-width: $M) {
      width: 45%;
    }

    @media screen and (min-width: $L) {
      width: 30%;
    }

    .card-body {
      height: 225px;
      overflow: hidden;
    }
  }
}

.project-actions {
  text-align: right;
}

#project-card {
  margin-top: 2em;
}
