%footer.footer
  .container-fluid
    .row#footer-heading
      %div{ class: 'col-lg-12' }
        %h2 Connect with RV Davis
    .row#footer-break
      %div{ class: 'col-lg-12' }
        %hr{ class: 'my-2' }
    .row#footer-icons
      %div{ class: 'col-sm-12 col-md-6 col-lg-4 footer-icon' }
        %a{ href: 'https://github.com/d3d1rty' }
          = icon('github', class: 'fa-4x')
      %div{ class: 'col-sm-12 col-md-6 col-lg-4 footer-icon' }
        %a{ href: 'https://stackoverflow.com/users/5886961/richard-davis?tab=profile' }
          = icon('stack-overflow', class: 'fa-4x')
      %div{ class: 'col-sm-12 col-md-6 col-lg-4 footer-icon' }
        %a{ href: 'https://www.linkedin.com/in/rvdavis' }
          = icon('linkedin', class: 'fa-4x')
    .row#footer-copyright
      %p &copy; Copyright 2016 Richard Davis
