.jumbotron
  %h1{ class: 'text-xs-right display-3' }= @page[:title]
  %p{ class: 'text-xs-right lead' }= @page[:subtitle]
#flash
  - flash.each do |key, value|
    %div{ id: "flash_#{key}", class: 'alert alert-danger', role: 'alert' }=h value
