.jumbotron
  %h1{ class: 'text-xs-right display-3' }= @page[:title]
  %p{ class: 'text-xs-right lead' }= @page[:subtitle]
.container
.row
  %div{ class: 'col-xs-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3' }
    #flash
      - flash.each do |key, value|
        %div{ id: "flash_#{key}", class: 'alert alert-danger', role: 'alert' }=h value
