- if flash[:notice]
  #flash-notice{ class: "#{flash[:type]}" }
    - if flash[:type] == 'failure'
      - flash[:notice].each do |msg|
        %ul
          %li= msg
    - else
      %p= flash[:notice]
